<template>
  <div>
      <input type="text" v-model="num">
      <h2>{{msg}}</h2>
      <h3>{{resverMsg}}</h3>
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: '',
      msg: 'hello'
    }
  },
  watch: {
    num: function (old, ew) {
      console.log('old', old)
      if (old >= 100) {
        alert('太大了')
        this.num = ''
      }
      console.log('ERRR', ew)
    }
  },
  computed: {
    resverMsg: function () {
      return this.msg.split('').reverse('').join('')
    }
  }
}
</script>

<style>

</style>
