<template>
<div>
    <h1>登陆界面</h1>
    <welcome msg="msg"/>
  <el-button @click="goHome">回首页</el-button>
</div>
</template>

<script>
import welcome from './Welcome.vue'

export default {
  name: 'login',
  components:{
    welcome
  },
    
  data(){
    return{
      msg: 'nihaoaaa'
    }
  },
  methods:{
    goHome(){
      this.$router.push('/welcome')
    }
  }
};
</script>

<style>
</style>