<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="demo">
        <p v-if="ok">成功</p>
        <p v-else="false">失败</p>

        <button @click="ok=!ok">切换</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#demo',
            data:{
                ok: true,
                //chan: false
            },
            methods:{
                /* change(){
                    this.ok = false
                    this.chan = true
                } */
            }
        })
    </script>
</body>
</html>