<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="iddemo">
        <form action="/xxx" @submit.prevent="hdSubmit">
            <table>
                <tr>
                    <td>用户名</td>
                    <td>
                        <input type="text" v-model="userName">
                    </td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td>
                        <input type="password" v-model="pwd">
                    </td>
                </tr>
                <tr>
                    <td>性别</td>
                    <td>
                        <input type="radio" value="nan" v-model="sex">男
                        <input type="radio" value="nv" v-model="sex">女
                    </td>
                </tr>
                <tr>
                    <td>爱好</td>
                    <td>
                        <input type="checkbox" id="bask" value="bask" v-model="likes">篮球
                        <input type="checkbox" id="foot" value="foot" v-model="likes">足球
                        <input type="checkbox" id="paiqiu" value="paqiu" v-model="likes">排球
                    </td>
                </tr>
                <tr>
                    <td>城市</td>
                    <td>
                        <select v-model="cityId">
                            <option value="">未选择</option>
                            <option :value="item.id" v-for="(item,id) in allCity" :key="id">
                                {{item.name}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>介绍</td>
                    <td>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </td>
                </tr>
                <th>
                    <input type="submit" value="注册">
                </th>
            </table>
        </form>
    </div>

    
    <script>
        new Vue({
            el:"#iddemo",
            data:{
                userName: '',
                pwd: '',
                sex: 'nan',
                likes:['foot'],
                allCity:[
                    {
                        id:1, name:'大连'
                    },
                    {
                        id:2, name:'北京'
                    },
                    {
                        id:2, name:'上海'
                    }
                ],
                cityId: "1"
            },
            methods:{
                hdSubmit(){
                    console.log(this.userName, this.pwd, this.sex, this.likes, this.allCity, this.cityId);
                }
            }
        })
    </script>
</body>
</html>